<div class="  ">
<form  [formGroup]="idcardForm">
    <label>name </label>
    <input type="text" formControlName="name"><br>
    <label>phone</label>`
    <input type="text" formControlName="phone"><br>
    <label>dob</label>
    <input type="text" formControlName="dob"><br>
    <label>city</label>
    <input type="text" formControlName="city"> <br>
    <label>email</label>
    <input type="text" formControlName="email"> <br>
    <label>profile_picture</label>
    <input type="text" formControlName="profile_picture"> <br>
    <label>school_city</label>
    <input type="text" formControlName="school_city"> <br>
    <label>school_logo</label>
    <input type="text" formControlName="school_logo"> <br>
    <label>school_name</label>
    <input type="text" formControlName="school_name"> <br>
    <label>school_pin</label>
    <input type="text" formControlName="school_pin"> <br>


    <button  routerLink="/dashborad/idcard" (click)="create()">Create idcard</button>
</form>
</div>

