#parent{
    width: 250px;
    height: 300px;
    background-color: rgb(241, 237, 237);
   
    position: relative;
}
.bodyMain{
    width: 101%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px
    ;
}
.d1{
    width: 100%;
    height: 50%;

}
.d2{
    width: 100%;
    height: 10%;
    font-weight: bolder;
    text-align: justify;
}
.d3{
    width: 100%;
    height: 10%;
    text-align: justify;
}
.d4{
    width: 100%;
    height: 10%;
    text-align: justify;
    color: red;

}
.d5{
    width: 30px;
    height: 2px;
    position: absolute;
    top: 40%;
    left: 1%;
    text-align: center;
    /* background-color: rgb(96, 88, 88);
    color: rgb(8, 3, 3); */
}
.i1{
    width: 100%;
    height: 100%;   
}