<h1>product details </h1>
<table border="2px">
    <tr>
        <th>name</th>
        <th>Rating</th>
        <th>Price</th>
    </tr>
    <tr *ngFor="let proudct of products">
        <td>{{proudct.name |uppercase}}</td>
        <td [ngStyle]="{'color':proudct.price<2000?'green':'red'}">{{proudct.price | currency}}</td>
        <td [ngClass]="{'green':proudct.rating>4,'red':proudct.rating<2,'yellow':proudct.rating>2&& proudct.rating<4}">{{proudct.rating}}</td>
    </tr>
</table>
<!-- <ol>
    <li *ngFor="let state of states">{{state}}</li>
</ol>

<ul>
    <li *ngFor="let state of states">{{state}}</li>
</ul>

<select >
    <option *ngFor="let state of states">{{state}}</option>
</select>
<p *ngIf="true">welcome to  hyd</p>
<p *ngIf="false">welcome to  TS</p> -->
<h1>{{newDate | date  }}</h1>9
