<h1>BankAccountDetails</h1>
<input type="text" [(ngModel)]="term" (keyup)="filter()">

<select [(ngModel)]="column">
    <option>account_name</option>
    <option>account_number</option>
    <option>available_balance</option>
    <option>city</option>
</select>
<select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>
<button (click)="sort()">Sort</button>

<select [(ngModel)]="limit">
    <option>10</option>
    <option>20</option>
    <option>30</option>
    <option>40</option>
</select>
<select [(ngModel)]="page">
    <option>1</option>
    <option>2</option>
    <option>3</option>
</select>
<button (click)="pagination()">pagination</button>

<button routerLink="/dashborad/createBankAccount" class="btn btn-info">create account</button>
<table class="table table-dark">
    <thead>
    <tr class="danger">
        <th>S NO</th>
        <th>account_name</th>
        <th>account_number</th>
        <th>available_balance</th>
        <th>city</th>
        <th>Action</th>
    </tr>
</thead> 
<tbody>
    <tr *ngFor="let bandetail of bandetails,let i=index">
        <td>{{i+1}}</td>
        <td>{{bandetail.account_name}}</td>
        <td>{{bandetail.account_number}}</td>
        <td>{{bandetail.available_balance}}</td>
        <td>{{bandetail.city}}</td>
        <td >
            <button (click)="delete(bandetail.id)" class="btn btn-danger">delete</button>
        </td>
    </tr>
</tbody>
</table>
