<h1 *ngIf="!id">create vehicle</h1>
<h1 *ngIf="id">update vehicle</h1>
<form  [formGroup]="vehicleForm">
    <label>Vehicle </label>
    <input type="text" formControlName="Vehicle"><br>
    <label>Color</label>
    <input type="text" formControlName="color"><br>
    <label>Cost</label>
    <input type="text" formControlName="cost"><br>
    <label>Fuel</label>
    <input type="text" formControlName="fuel"> <br>
    <button (click)="create()">{{id?'update vehicle':'create vehicle'}}</button>
</form>
