<form  [formGroup]="bankForm">
    <label>account_name : </label>
    <input type="text" formControlName="account_name"><br>
    <label>account_number :</label>
    <input type="text" formControlName="account_number"><br>
    <label>available_balance :</label>
    <input type="text" formControlName="available_balance"><br>
    <label>city :</label>
    <input type="text" formControlName="city"> <br>
    <button routerLink="/dashborad/bankaccountDetails" (click)="create()">Create Account</button>
</form>
