.mainBody{
    width: 100%;
    height: 100%;
  background-color: rgb(214, 213, 213);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.Sub{
    width: 50%;
    height: 85%;
   background-color: rgb(189, 184, 184);
    border-radius: 10px;
}
.d1{
    width: 100%;
    height: 20%;
 
    display: flex;
    justify-content: center;
    align-items: center;
}
.d1h1{
    font-weight: bolder;

}
.d2{
    width: 100%;
    height: 80%;
   
}
.d2div{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.degrees{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.degrees label{
    font-weight: bolder;
    font-size: xx-large;
    color: orange;
}
.windtext{
    width: 100%;
    height: 25%;

}
.windtextf1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.windtextf2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.windtextf2 label{
    font-weight: 500;
    font-size: x-large;
    color: rgb(27, 26, 24);
}
.windtextf1 label{
    font-weight: 500;
    font-size: x-large;
    color: rgb(27, 26, 24);
}
.day{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.day p{
    font-weight: 500;
    font-size:x-large;
    color: rgb(93, 196, 219);
    font-weight: 800;

}
.dot{
    width: 15%;
    height: 90%;

    border-radius: 100%;
}
#d2divDot{
    width: 15%;
    height: 90%;
    border-radius: 100%;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}