<div class="mainBody">
    <div class="Sub"  >
        <div class="d1">
            <h1 class="d1h1">Weather in Hyderabad</h1>
        </div>
        <div class="d2"  > 
            <div class="d2div" >    
                <div class="dot"></div>
            </div>
            <div class="degrees">
                
            </div>
            <div class="windtext">
               
            </div>
            <div class="day">
               
            </div>

        </div>


    </div>
</div>
