<div class="parent">
    <div class="d1">Flipkart</div>
    <div class="d2">
        <div class="d2left">
            <div class="search">
                <input class="searchbarsize" type="text" placeholder="search">
                <button >only free delivery</button>
            </div>
            <div class="search1">
                <button class="fliterb1">Price low to high</button>
                <button class="fliterb1">Price high to low</button>
                <button class="fliterb1">Price low to high</button>
                <button class="fliterb1">Price high to low</button>
            </div>
            <div class="search2">
                <button class="search2b1">Apply 50% discount</button>
                <button class="search2b1">Price with delivery charges</button>
            </div>
            <div class="search3">
                <button class="search3b1">total Price</button>
                <button class="search3b1">total cart items</button>
            </div>
        </div>
        <div class="d2right">
            <label>Name :</label>
            <input type="text"><br>
            <label>Price :</label>
            <input type="number"><br>
            <label>Rating :</label>
            <input type="number"><br>
            <label>Free delivery  :</label>
            <label>YES</label>
            <input type="radio">
            <label>NO</label>
            <input type="radio"><br>
            <input type="button" value="Add to cart">
        </div>
    </div>
    <div>

    </div>
</div>
