.MainCal{
    width: 80vw;
   height: 99vh;
    background-color: rgb(45, 223, 14);
    display: flex;
    justify-content: center;
    align-items: center;
}
.maindiv{
    width: 50%;
    height: 50%;
    background-color: rgb(220, 69, 182);
    text-align: center;
    border-radius: 25px;
    box-shadow: 21px 21px 3px black;
    }

    .maindiv:hover{
        animation-name: MoveContent;
        animation-duration: 5s;
        animation-iteration-count: 1;

    }
.maindiv{
    animation-name: topMoveToCenter;
    animation-duration: 5s;
    animation-iteration-count: 1;

}

input{
    width: 80%;
    height: 20px;
    border-radius: 25px;
    margin: 6px;
}
button{
    width: 60px;
    height: 40px;
    border-radius: 25px;
}
#reslut{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@keyframes topMoveToCenter {
 0% {
    margin-top: -1000px;
        margin-right: -1000px;
         
        }
        50% {
           
            margin-top: 20px;
            margin-right: 20px;    
        }
        100%{
            margin-top: 40px;
            margin-right: 40px;   
        }


    
}
@keyframes MoveContent {

    from{
       
    }
    to{
        transform: scale(120%,120%);

    }
}