<div class="parent">
    <div class="left">
         <div class="d1"> <h1>My website</h1>
        </div> 
         <div class="d2">
            <hr class="sizehr">
            <h3 routerLink="/home">Home</h3>        
           <h3 routerLink="welcome">Welcome</h3>
            <h3 routerLink="data-binding">Data binding</h3>
            <h3 routerLink="calcultor">Calcultor</h3>
            <h3 routerLink="rectangle" >Rectangle</h3>
            <h3 routerLink="circle">Circle</h3>
            <h3 routerLink="bmi">Bmi</h3>
            <h3 routerLink="emi-calcultor">Emi calcultor</h3>
            <h3 routerLink="simple-interest">Simple interest</h3>
            <h3 routerLink="temperature">temperature</h3>
            <h3 routerLink="directive">directives</h3>
            <h3 routerLink="employee">employee</h3>
            <h3 routerLink="flipkart">flipkart</h3>
            <h3 routerLink="vehicle">vehicle</h3>
            <h3 routerLink="bankaccountDetails">bankaccountDetails</h3>
            <hr class="sizehr">
            <button routerLink="/login">Logout</button>
        </div>
    
        </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>

</div>
